body {
    font-family: Verlag;
}

header, main, #article_autres {
    max-width: 1200px;
    margin:auto;
}
 
header {
    max-height: 101px;
}

#date {
    font-size: 20px;
    font-weight: 600;
}

#soutien {
    float: right;
    display:flex;
    justify-content: center;
    background-color: rgb(255,229,2);
    margin-top: 25px;
    padding: 10px;
    align-items: center;
    width: 200px;
    border-radius: 25px;
    border: solid black 3px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color:black;
}

#navbar {
    position: sticky;
    top:0;
}

header > p {
    display: inline-flex;
    margin-bottom: 0px;
}
div > p {
    display: inline-flex;
    font-size:large;
}

#navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: arial, sans-serif;
    height: 70px;
    position:sticky;
    top:0;
    z-index: 9999;
    max-width: 100%;
    width: auto;
}

@font-face {
    font-family: Verlag;
    src: url(../polices/Verlag-XLight.ttf);
}

#navbar> a {
    display: inline-block;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verlag;
    font-size: 16px;
    font-weight: 700;
    padding-right: 14px;
    padding-left: 25px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#navbar > a:hover {
    background-color:rgba(90,121,160)
}

#articles_autres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    margin: 30px 0px 30px;
    gap: 10px;
}

a:hover > .texte_autre > h6 {
    color:rgba(90,121,160);
}

#articles_autres>div {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 262px;
    padding-top: 10px;
    border-top: solid gray 1px;
    margin: 0px;
}

#éditoriaux{
    background-color: rgb(195,135,103);
    border-radius:5px;
    height: fit-content;
    padding: 6px;
    font-size: 12px;
    margin-top: 0px;
    color:white;
    margin-left: 0px;
    width: fit-content;
}

#contexte {
    background-color: rgb(195,135,103);
    border-radius:5px;
    padding: 6px;
    font-size: 12px;
    height: fit-content;
    margin-top: 0px;
    color:white;
    width: fit-content;
}

#financeperso {
    background-color: rgb(32,127,183);
    border-radius:5px;
    padding: 6px;
    font-size: 12px;
    height: fit-content;
    margin-top: 0px;
    color:white;
    width: fit-content;
}

#international {
    background-color: rgba(90,121,160);
    border-radius:5px;
    padding: 6px;
    font-size: 12px;
    height: fit-content;
    margin-top: 0px;
    color:white;
    width: fit-content;
}

.liensautre {
    text-decoration: none;
    color:black;
}

.texte_autre {
    display:flex;
    flex-direction: column;
    margin-left: 15px;
}

.texte_autre > h5 {
    margin: 0px;
}

.texte_autre > h6 {
    margin-top: 2px;
    font-size: 20px;
    font-weight:900;
}

.texte_autre > p {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

#articles_autres>img {
    height: 100px;
    width: auto;
}

main {
    display:flex;
    justify-content: center;
}

section {
    display:flex;
    flex-direction:column;
}

.container {
    display:flex;
    justify-content: center;
}

#texte {
    display:flex;
    flex-direction: column;
    color:white;
    margin-left: 10px;
}

#texte > h2 {
    font-size:34.4px;
}

#texte > h3 {
    background-color: rgba(90,121,160);
    font-size:12px;
    border-radius: 5px;
    width: fit-content;
    padding: 6px;
    margin-top: 50px;
    font-weight: bolder;
}
#article_top {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    background:linear-gradient(to left top, gray, black);
    width: 775px;
}

#article_top > a {
    display: flex;
    text-decoration: none;
}

a:hover {
    opacity: 85%;
}

a:hover > img {
    opacity: 95%;
}

a:hover > h2 {
    color:rgba(90,121,160)
}
#articles_milieu {
    margin-top: 30px;
    display: flex;
    width: 775px;
    height: 460px;
    gap:12px
}

#articles_milieu>article {
    width: 258px;
    height: 460px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid gray 1px;
}

.liensmilieu {
    text-decoration: none;
}

.liensmilieu > h3 {
    color: white;
    background-color: rgba(90,121,160);
    display: flex;
    width: fit-content;
    padding: 6px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 7px;
}

.liensmilieu > h2 {
    color:black;
    font-weight: bolder;
}

.liensmilieu > p {
    color:black;
}

.liensbas {
    color:black;
    text-decoration:none;
}

.liensbas > h3 {
    color: white;
    background-color: rgba(90,121,160);
    display: flex;
    width: fit-content;
    padding: 6px;
    border-radius: 5px;
    font-size: 12px;
}

.milieu {
    width: 258px;
    height: 460px;
}

.textemilieu {
    display:flex;
    flex-direction: column;
}
#article_bas {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 775px;
    height: 300px;
    gap:3px;
}

#article_bas>article {
    width: 258px;
    height: 300px;
    padding-top: 10px;
    border-top: solid gray 1px;
}

#article_bas, h2, p {
    margin-top:0px;
}

#article_bas h2 {
    margin-bottom: 10px;
    font-weight: bolder;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:30px;
    gap:30px;
    position:sticky;
    top:80px;
    align-self: flex-start;
    align-items:center;
}

#articles {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Rubrik;
    src: url(../polices/Rubrik_1.otf);
}

footer {
    background-color:white;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    font-family: Rubrik;       
}

footer div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 0px;
    height:300px;
}

footer a {
    font-size: 16px;
    color: rgb(104,104,104);
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding:0px;
}

footer li {
    padding-bottom: 12px;
}
#containerfooter {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(220,220,220);
    width: 3000px;
    padding-top: 50px;
    margin-top: 80px;
}

#containerfooter div p {
    font-size: 20px;
    font-weight: 500;
}