*
/* {
    border: solid 1px black;
}*/

header {
    margin-left: 400px;
    margin-top: 50px;
}

#menu {
    background-color: black;
    color: white;
    display: inline-flex;
    justify-content: center;
    font-family: arial, sans-serif;
    height: 70px;
    width: 2000px;
    gap: 20px;
    position: sticky;
    top: 0;
}

#menu>a {
    display: inline-flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 5px;
    text-align: center;
    color: white;
}

#articles_autres {
    display: flex;
    background-color: white;
    width: auto;
    height: 100px;
    margin: 30px 400px 30px;

}

#articles_autres>div {
    height: 100px;
    width: 600px;
}

#articles_autres>img {
    height: 100px;
    width: 600px;
}



.container {
    border: solid chocolate 2px;
    display: flex;
    flex-direction: row;
    gap: 17%;
    margin-left: 400px;
    margin-right: 400px;
}


#article_top {
    background-color: blue;
    display: flex;
    width: 775px;
    height: 350px;
}

#article_milieu {
    background-color: red;
    margin-top: 30px;
    display: flex;
    width: 775px;
    height: 460px;
}

#article_milieu>div {
    width: 258px;
    height: 460px;
}

.milieu {
    width: 258px;
    height: 460px;
}

#article_bas {
    background-color: green;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 775px;
    height: 300px;
}

#article_bas>div {
    width: 258px;
    height: 300px;
}

.bas>img {
    width: 194px;
    height: 300px;
}

#pub {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: yellow;
    width: 300px;
    height: 1000px;
}

#articles {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: purple;
    width: auto;
    height: 200px;
}