* {
    border: solid 1px black;
}

#navbar {
    background-color: black;
    color: white;
    display: inline-flex;
    justify-content: left;
    font-family: arial, sans-serif;
    height: 70px;
    width: 2000px;
    gap: 20px;
    position: sticky;
    top: 0;
}

#navbar>a {
    display: inline-block;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 5px;
    text-align: center;
    color: white;
}

#articles_autres {
    display: inline-flex;
    justify-content: center;
    background-color: white;
    margin: 30px 0px 30px;

}

#articles_autres>div {
    height: 100px;
    width: auto;
}

#articles_autres>img {
    height: 100px;
    width: auto;
}

section {
    border: solid blue 2px;
    display:flex;
    flex-direction:column;
    margin-left: 400px;
    margin-right:400px;
}

.container {
    border: solid chocolate 2px;
    display:flex;
    justify-content: center;
}


#article_top {
    background-color: blue;
    display: flex;
    width: 775px;
    height: 350px;
}

#articles_milieu {
    margin-top: 30px;
    display: flex;
    width: 775px;
    height: 460px;
}

#articles_milieu>article {
    width: 258px;
    height: 460px;
}

.milieu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

article > h3 {
    color: white;
    background-color: rgb(123, 123, 184);
    display: flex;
    padding: 5px;
    border-radius: 5px;
}

.milieu {
    width: 258px;
    height: 460px;
}

#article_bas {
    background-color: green;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 775px;
    height: 300px;
}

#article_bas>article {
    width: 258px;
    height: 300px;
}

.bas>img {
    width: 194px;
    height: 300px;
}

#pub {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: yellow;
    width: 300px;
    height: 1000px;
}

#articles {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: purple;
    width: auto;
    height: 200px;
}