
 {
    border: solid 1px black;
}

body {
    font-family: Verlag;
}

header, main, #article_autres {
    max-width: 1200px;
    margin:auto;
}
 
#soutien {
    float: right;
    display:flex;
    justify-content: center;
    background-color: rgb(255,229,2);
    margin-top: 25px;
    align-items: center;
    width: 200px;
    border-radius: 25px;
    border: solid black 3px;
}

#navbar {
    position: sticky;
    top:0;
}

header > p {
    display: inline-flex;
    margin-bottom:0px;
}
div > p {
    display: inline-flex;
    font-size:large;
}

#navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: arial, sans-serif;
    height: 70px;
    position:sticky;
    top:0;
    z-index: 9999;
    max-width: 100%;
    width: auto;
}

@font-face {
    font-family: Verlag;
    src: url(../polices/Verlag-XLight.ttf);
}

#navbar> a {
    display: inline-block;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verlag;
    font-size: 16px;
    font-weight: 700;
    padding-right: 14px;
    padding-left: 25px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#navbar > a:hover {
    background-color:blue;

}

#articles_autres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    margin: 30px 0px 30px;
    gap:10px;
}

#articles_autres>div {
    display: flex;
    height: 100px;
    width: 262px;
    padding-top: 10px;
    border-top: solid gray 1px;
}

#éditoriaux{
    background-color: rgb(195,135,103);
    border-radius:5px;
    height: fit-content;
    padding: 6px;
    font-size: 12px;
}

#contexte {
    background-color: rgb(195,135,103);
    border-radius:5px;
    padding: 6px;
    font-size: 12px;
    height: fit-content;
}

#financeperso {
    background-color: rgb(32,127,183);
    border-radius:5px;
    padding: 6px;
    font-size: 12px;
    height: fit-content;
}

#international {
    background-color: rgba(90,121,160);
    border-radius:5px;
    padding: 6px;
    font-size: 12px;
    height: fit-content;
}

.texteAutre {
    display:flex;
    flex-direction: column;
}

#articles_autres>img {
    height: 100px;
    width: auto;
}

main {
    display:flex;
    justify-content: center;
}

section {
    display:flex;
    flex-direction:column;
}

.container {
    display:flex;
    justify-content: center;
}

#texte {
    display:inline-block;
    color:white;
    margin-left: 10px;
}

#texte > h2 {
    font-size:34.4px;
}

#texte > h3 {
    background-color: rgba(90,121,160);
    font-size:12px;
    border-radius: 5px;
    width: fit-content;
    padding: 6px;
}
#article_top {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    background:linear-gradient(to left top, gray, black);
    width: 775px;
}

#articles_milieu {
    margin-top: 30px;
    display: flex;
    width: 775px;
    height: 460px;
    gap:12px
}

#articles_milieu>article {
    width: 258px;
    height: 460px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid gray 1px;
}

.liensmilieu {
    text-decoration: none;
}

.liensmilieu > h3 {
    color: white;
    background-color: rgba(90,121,160);
    display: flex;
    width: fit-content;
    padding: 6px;
    border-radius: 5px;
    font-size: 12px;
}

.liensmilieu > h2 {
    color:black;
}

.liensmilieu > p {
    color:black;
}

.liensbas {
    text-decoration:none;
}

.liensbas > h {

}
article > h3 {
    color: white;
    background-color: rgba(90,121,160);
    display: flex;
    width: fit-content;
    padding: 6px;
    border-radius: 5px;
    font-size: 12px;
}

.milieu {
    width: 258px;
    height: 460px;
}

.textemilieu {
    display:flex;
    flex-direction: column;
}
#article_bas {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 775px;
    height: 300px;
    gap:3px;
}

#article_bas>article {
    width: 258px;
    height: 300px;
    padding-top: 10px;
    border-top: solid gray 1px;
}

 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:30px;
    gap:30px;
    position:sticky;
    top:80px;
    align-self: flex-start;
    align-items:center;
}

#articles {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Rubrik;
    src: url(../polices/Rubrik_1.otf);
}

footer {
    background-color:rgb(238, 237, 237);
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    font-family: Rubrik;       
}

footer div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 0px;
    height:300px;
}


footer a {
    font-size: 14px;
    color: rgb(104,104,104);
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding:0px;
}

footer li {
    padding-bottom: 12px;
}
#container2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(200,200,200);
    width: 3000px;
}

#container > div >  ul {
}

#container2 div p {
    font-size: 15.75px;
    font-weight: 500;
}