
* {
    border: solid 1px black;
}

#soutien {
    float: right;
    display:flex;
    justify-content: center;
    background-color: yellow;
    margin-top: 25px;
    align-items: center;
    width: 200px;
    border-radius: 25px;
    border: solid black 3px;
}

div > p {
    display: inline-flex;
    font-size:large;
}

#navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: left;
    font-family: arial, sans-serif;
    height: 70px;

}

#navbar>a {
    display: inline-block;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 5px;
    text-align: center;
    color: white;
}

#articles_autres {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 30px 0px 30px;

}

#articles_autres>div {
    height: 100px;
    width: auto;
}

#articles_autres>img {
    height: 100px;
    width: auto;
}

main {
    display:flex;
    justify-content: center;
    border: solid red 3px;
}

section {
    border: solid blue 2px;
display:flex;
flex-direction:column;
}

.container {
    border: solid chocolate 2px;
    display:flex;
    justify-content: center;
}


#article_top {
    background-color: blue;
    display: flex;
    width: 775px;
    height: 350px;
}

#articles_milieu {
    margin-top: 30px;
    display: flex;
    width: 775px;
    height: 460px;
}

#articles_milieu>article {
    width: 258px;
    height: 460px;
}

.milieu {
    width: 258px;
    height: 460px;
}

#article_bas {
    background-color: green;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 775px;
    height: 300px;
}

#article_bas>article {
    width: 258px;
    height: 300px;
}

.bas>img {
    width: 194px;
    height: 300px;
}

aside {
    border:solid purple 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:30px;
    gap: 30px;
}

#articles {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: purple;
    width: auto;
    height: 200px;
}